/* CSS for student homework page */
div#topRow {    
	display: none;
	float: left;
	width: 1200px;
} 

div#bottomRow {  
	display: none;
	float: left;
	width: 900px
}             

div#question {  
	float: right;
	width: 550px;
	margin-left: 50px;	
	clear: right;
}          

img#questionImage {
	width: 500px;
}  

table#studentAnswers {
	
}      


div#chart_div {                                       
	width: 500px;
	height: 200px;
	float: left; 
	margin-left: 50px; 
	margin-top: 50px;
}
                
h2#rationalesTitle {
	margin-left: 50px;
	margin-top: 20px;
}

div#answerRationales{
	width: 400px; 
	float: left; 
	margin-left: 50px;
}

.singleRationale {    
	width: 100%;
	border: 1px solid black;
	margin-bottom: 10px; 
	padding: 5px;
	float:right;
}  
div#tags {  
	float: left;
	width: 100%; 
	padding-left: 50px;
}

div#choices { 
	float: left;
	width: 100%;
	margin-top: 30px; 
	padding-left: 50px;
}    

div#rationale {
	float: left;
	width: 700px;
	margin-left: 50px;
}        

div#submit {
	width: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 190px;	
}
         
div#questionID {
	display: none;	
}
  
div#correctAnswer {
	display: none;
}