/* CSS for student homework page */
div#topRow {    
	display: none;
	float: left;
	width: 1200px;
} 

div#bottomRow {  
	display: none;
	float: left;
	width: 900px
}             

div#question {  
	float: left;
	width: 550px;
	margin-left: 50px;	
}          

img#questionImage {
	width: 500px;
}
  
div#tags {  
	float: left;
	width: 600px;
	padding-top: 40px;
}

div#choices { 
	float: left;
	width: 400px;
	margin-top: 50px; 
}    

div#rationale {
	float: left;
	width: 700px;
	margin-left: 50px;
}        

div#submit {
	width: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 190px;	
}
         
div#questionID {
	display: none;	
}
